h1{
    background-color: red;
}
body{
    background-color: yellow;
}
#id1{
    background-color: pink;
}
#id2{
    background-color: orange;
}
.cl1{
    background-color: purple;
}
.cl2{
    background-color: blue;
}
.cl2{
    color: green;
    font-size: 100;
}