/* Stylesheet for skills.html */


/* adding style for main container */
.container {
    margin: 1rem auto;
    max-width: 90vw;
    width: 700px;
}

/* adding style for the page heading */
.container .title {
    color: var(--dodger-blue);
    border-bottom: 2px solid var(--dodger-blue);
    text-align: center;
    width: fit-content;
    margin: 2rem auto;
}


/* adding style for the skill container used to add the skill */
.skill-container {
    border: 2px solid var(--dodger-blue);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    background-color: var(--border-blue);
    margin-bottom: 1rem;
}


/* adding style to the image contaier inside the skill container */
.skill-container .skill-img-container {
    width: 30%;
    margin-right: 10px;
}


/* adding style to the skill image */
.skill-img {
    max-width: 100%;
    min-width: 80px;
}

/* adding style to the skill header inside the skill container */
.skill-container .skill-header {
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
    vertical-align: bottom;
    border-bottom: 2px solid var(--mintcream);
    border-radius: 2px;
    margin-bottom: 10px;
}